.eventlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  min-height: 100vh;
  padding: 20px;
  padding-top: 20%;
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply, multiply;
}

.styled-card {
  max-width: 320px;
  height: 600px;
  overflow: hidden;
  background-color: #333;
  transition: transform 0.3s ease-in-out;
}

.styled-card:hover {
  transform: scale(1.05);
}

.cards-media {
  position: relative;

}

.cards-content {
  color: white;

}

.cards-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.cards-description {
  font-size: 0.875rem;
  margin-bottom: 1rem; /* Space between description and buttons */
}

.icon-buttons {
  display: flex;
  justify-content: space-between;
  padding: 16px; 
  margin-top: auto; 
}

.comments-section {
  margin-top: 20px;
}

.comments-list {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Ensure comments are displayed from top to bottom */
}

.comment {
  margin-bottom: 10px; /* Space between comments */
  padding: 10px;
  border-bottom: 1px solid #555; /* Add a border line between comments */
  color: white;
}

.comment:last-child {
  border-bottom: none; /* Remove the border for the last comment */
}

.comment-input-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem; /* Space below the input container */
}

.comment-textfield {
  flex: 1;
  margin-right: 10px;
  color: white;
}

.send-button {
  color: white;
}
