/* Home.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
/* 
.logo {
  height: em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for transform and shadow */
}

.read-the-docs {
  color: #888;
}

.content {
  padding: 20px;
  padding-top: 10%;
  min-height: 100vh; /* Prevent the page from shrinking */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 20px 0; /* Adjust this value as needed */
  color: #333;
  font-size: 2.5rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 320px; /* Fixed width */
  height: 400px; /* Fixed height */
  border-radius: 5%;
  overflow: hidden;
  background-color: #333;
  color: white;
  position: relative; /* Make the card's position relative for absolute child positioning */
}

.card:hover, .card:active {
  transform: scale(1.05); /* Scale up the card slightly on hover or active */
  z-index: 1; /* Bring the card to the front */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add shadow for a lifted effect */
}
