.header {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
  }
  
  .nav-logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    text-decoration: none; /* Ensure no underline for the link */
    text-shadow: 2px 2px 4px rgba(253, 255, 255, 0.7);
  }
  
  .logo-image {
    height: 70px; /* Adjust the height as needed */
  }
  
  .navbar a {
    position: relative;
    font-size: 20px;
    color: #faf3f3;
    font-weight: 500;
    margin-left: 40px; 
    text-decoration: none; 
  }
  
  .navbar a::before {
    content: '';  
    position: absolute; 
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }